
.btn.sm{
    padding: o.3rem o.7rem;
    font-size: 0.8rem;
}

.btn.danger{
    background: red;
}

.btn:hover{
    background: white;
    color: var(--color-bg--light);
}

.dashboard{
    margin-top: 6rem;
}

.dashboard_container{
    display: grid;
    grid-template-columns: 14rem auto;
    gap: 1rem;
    background: var(--color-bg--light);
    padding: 2rem;
    margin-bottom: 5rem;
}

.dashboard aside a{
    background: var(--color-primary--light);
    gap: 1rem;
    display: flex;
    align-items: center;
    padding: 1.6rem;
} 

.dashboard aside ul li :not(:last-child) a{
    border-bottom: 1px solid gray;

}

.dashboard aside a.btn:hover{
    background-color: gray;
}

.dashboard aside.active{
    background-color: var(--color-bg--light);
}

.dashboard main{
    margin-left: 1.5rem;
}

.dashboard main h2{
    margin: 0 0 2rem 0;
    line-height: 1;
}

.dashboard main table{
    width: 100%;
  
  text-align: left;
}


.dashboard main table th{
    background-color: gray;
    padding: 0.8rem;
    color:white;
}

.dashboard main table th{
    background-color: gray;
    padding: 0.8rem;
    border-bottom: 0.8rem;
}
